*{
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}
.title-page{
	    border-bottom: 1px solid;
   		padding-bottom: 3px;
}

.content-right{
	padding-top: 20px;
}
.link-page{
	font-size: 24px;
	
}

.text-page{
	font-size: 14px;
}






























