/*Set class container*/
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1286px !important;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1340px !important;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1480px !important;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1660px !important;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1760px !important;
  }
}
/*Import font*/
@font-face{
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'roboto-bold';
  src: url('../fonts/Roboto-Bold.ttf');
}
/*General class*/
*{
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body,html{
  width: 100%;
  overflow-x: hidden;
}
.font-bold{
  font-family: 'roboto-bold', sans-serif !important;
  font-weight: bold;
}
/*Go top*/
.go-top{
  position: fixed;
  right: 50px;
  bottom: 37px;
  z-index: 999;
  display: table;
  padding: 5px 15px;
  font-size: 30px;
  color: #fff;
  background-color: #28a745;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}
/*Hotline phone ring*/
.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #28a745;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(40, 167, 69, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: #28a745;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}
.hotline-bar {
  position: absolute;
  background: rgba(40, 167, 69, 0.75);
  height: 40px;
  width: 200px;
  /* width: 175px !important; */
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  left: 33px;
  bottom: 37px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px){
  .hotline-bar {
    display: none;
  }
}
}
/*Other*/
/*Header*/
.head-top{
  display: flex;
}
.head-top-left{
  flex-grow: 1;
}
.head-top-left i{
  padding: 5px 10px;
}
.head-top-left i:hover{
  background-color: #0175ce;
  color: #fff;
}
.head-top-right{
  padding: 5px;
  color: #e67718;
}
nav{
  background: linear-gradient(#058ff7, #0175ce);
}
.menu-wrap{
  display: flex;
}
.menu-logo img{
  width: 66px;
}
.menu{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.menu ul{
  flex-grow: 1;
  display: flex;
  margin-bottom: 0;
}
.menu ul li{
  list-style: none;
}
.menu ul li a{
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 15px;
  transition: 0.75s ease;
}
.menu ul li a:hover{
  background-color: #0175ce;
  border-radius: 5px;
}
.menu-search{
  display: flex;
  align-items: center;
}
.menu-search form{
  padding: 0 0 0 10px;
  background-color: #fff;
  border-radius: 5px;
}
.menu-search input{
  padding: 5px;
  width: 250px;
  border: none;
  outline: none;
}
.menu-search span{
  padding: 0 10px;
}
/*Home*/
.h-title{
  font-size: 22px;
  text-transform: uppercase;
  display: table;
  border-bottom: 5px solid #000;
  margin-bottom: 15px;
}
@media (max-width: 576px){
  .h-title{
    font-size: 18px;
    text-transform: uppercase;
    display: table;
    border-bottom: 5px solid #000;
    margin-bottom: 15px;
  } 
}
.h-wrap{
  margin: 20px 0;
}
.h-banner{
  position: relative;
}
.h-banner .owl-prev,
.h-banner .owl-next{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 100px !important;
  color: #fff !important;
}
.h-banner .owl-prev{
  left: 50px;
}
.h-banner .owl-next{
  right: 50px;
}
.h-banner{
  position: relative;
}
.h-banner .owl-dots{
  position: absolute;
   transform: translateY(-50%);
   bottom: 5px;
   left: 50%;
}
.h-banner .owl-dots .active span{
  background-color: #0175ce !important;
}
.h-about-wrap{

}
.h-about-title{
  font-size: 22px;
  text-transform: uppercase;
  display: table;
  border-bottom: 5px solid #000;
  margin-bottom: 15px;
}
.h-about-content{
  height: 360px;
  overflow: hidden;
}
@media (max-width: 1200px){
  .h-about-content{
    height: 312px;
  } 
}
@media (max-width: 768px){
  .h-about-content{
    height: 192px;
  } 
}
.h-about-slide{
  position: relative;
}
.h-about-slide .owl-prev,
.h-about-slide .owl-next{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 100px !important;
  color: #fff !important;
}
.h-about-slide .owl-prev{
  left: 30px;
}
.h-about-slide .owl-next{
  right: 30px;
}
.h-about-slide > div{
  /*display: flex;
  justify-content: center;*/
}
.h-about-slide > div img{
  display: block;
  margin: 0 auto;
  width: auto !important;
}
.h-image-wrap{
  margin: 20px 0;
}
.h-image-member > div:first-child{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #0175ce;
  padding: 10px;
}
.h-product:hover img{
  opacity: 0.7;
}
.h-product-title{
  display: flex;
}
.h-product-title > div:last-child{
  flex-grow: 1;
  text-align: right;
}
.h-product{
  margin-bottom: 22px;
  transition: 0.75s ease;
}
.h-product:hover{
  margin-top: -20px;
}
.h-news-member a{
  color: #000;
  text-decoration: none;
}
.h-news-title{
  margin-top: 10px;
}
.h-news-img{
  overflow: hidden;
}
.h-news-img img{
  transition: 0.75s ease;
}
.h-news-img img:hover{
  transform: scale(1.2);
}