ul li {
    list-style: none;
}

.container {
    max-width: 1220px;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.far.fa-calendar-alt {
    padding-right: 1rem;
}

.img-sidebar {
    width: 100%;
    margin: 1rem;
    border-radius: 3px;
}

.tenvitri {
    font-size: 20px;
    font-weight: 600;
}

.mucluc {
    background-color: #edf6ff;
    padding: 1rem;
    margin-bottom: 2rem;
}

ul.tuyendung__tinvan {
    padding: 0;
}

.vitri--tuyendung {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.vitri--tuyendung img {
    width: 33%;
    float: left;
    margin-right: 5%;
}

.vitri--tuyendung p {
    line-height: 1rem;
}

.vitri--tuyendung:nth-child(2n+1) {
    background-color: #ccc;
    border-radius: 3px;
}

#tinvan {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}